@model IEnumerable<ByteBankIdentity.Models.User>

@{
 ViewData["Title"] = "Registration";
}

<div class="container p-3">
 <div class="row pt-4">
  <div class="col-6">
   <h1 class="text-primary">User menu</h1>
  </div>
 </div>
 <div class="col-6 text-start">
  <br />
  <a class="btn btn-primary w-25" asp-action="Create"> <i class="bi bi-plus-circle"></i> &nbsp; Create User</a>
  <br />
  <br />
  <a class="btn btn-primary w-25" asp-action="Edit"><i class="bi bi-pencil"></i> &nbsp; Edit User</a>
 </div>
</div>

