@model IEnumerable<ByteBankIdentity.Models.User>

@{
 ViewData["Title"] = "Registration";
}

<div class="container p-3">
 <div class="row">
  <h1 class="text-primary text-center">You are logged</h1>
 </div>
</div>

