@model ByteBankIdentity.Models.User

@{
 ViewData["Title"] = "Login";
}

<div class="container p-3 d-flex flex-column align-items-center">
 <div class="row col-12 pt-4 justify-content-center">
  <div class="col-md-4">
   <h1 class="text-primary text-center">Login User</h1>
   <form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
     <label asp-for="Email" class="control-label"></label>
     <input asp-for="Email" class="form-control" />
     <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
     <label asp-for="Password" class="control-label"></label>
     <input asp-for="Password" class="form-control" />
     <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-between">
     <button type="submit" class="btn btn-primary" style="width:150px">Login</button>
     <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to Home</a>
    </div>
   </form>
  </div>
 </div>
</div>

@section Scripts {
 @{
  await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}

